*{
    margin: 0;
    padding: 0;
    
}

.sidebar{   
overflow-y: scroll;
position: fixed;
left: 0;
bottom: 0;
top:70px;
}
.listItem{
   
    font-size: 20px; 
    margin: 40px; 
    
}
.listItem:hover{
   background-color: rgb(231, 231, 234);
   border-radius: 5px;
}
.side1{
   padding: 10px;
  list-style: none;
  color: black;

}

.sidemain{
    display: flex;
    flex-direction: column;
}