* {
  margin: 0;
  padding: 0;
}
.navbar {
  height: 60px;
  width: 100%;
  background-color: rgb(253, 251, 251);
  display: flex;
  cursor: pointer;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.text1 > h3 {
  font-weight: bolder;
  font-size: 25px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  letter-spacing: 2px;
 
}
.text > h3:hover {
  color: rgb(15, 15, 15);
}

.text1 {
  text-decoration: none;
  color: rgb(18, 18, 18);
  font-size: 15px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.text1:hover {

}

.text {
  list-style: none;
  display: flex;
  margin-left: 100px;
  gap: 100px;
  margin-top: 10px;
}

.home-text {
  text-align: center;
  color: rgb(34, 34, 34);
  margin-top: 20px;
}
